{% extends 'base.html' %}
    
{% block heading %}
<div class="container" style="padding-top:1%;">
    <div class="row">
        <div class="col-8 offset-2">
            
            <div class="card bg-light mb-3" style="max-width: 50rem;">
                <div class="card-header" style="text-align: center;"><h3><b> Hệ thống bỏ phiếu chọn đề thi trắc nghiệm  </b></h3></div>
                <div class="card-body">
                    <div class="card border-dark mb-3" >
                        <img class="card-img-top" src="\static\Blockchain.png" alt="Card image cap" style="padding:0.5%;">  
                            <div class="align-bottom">
                                <p class="card-text" style="text-align: center;padding-top: 10%;margin-left:5%;margin-right:5%;margin-bottom:5%;">
                                    <b>Giới thiệu về hệ thống:</b><br> 
                                    Hệ thống bỏ phiếu chọn đề thi là một giải pháp công nghệ hiện đại nhằm thay thế việc thư ký sử dụng phần mềm rút ngẫu nhiên câu trắc nghiệm. 
                                    Hệ thống này cho phép các giảng viên hoặc thành viên hội đồng biên soạn đề thi tham gia quá trình lựa chọn câu hỏi một cách dân chủ và minh bạch thông qua cơ chế bỏ phiếu trực tuyến. 
                                    Thay vì phụ thuộc hoàn toàn vào phần mềm, mỗi người tham gia có thể đưa ra quyết định về tính phù hợp của từng câu hỏi, đảm bảo rằng đề thi cuối cùng không chỉ ngẫu nhiên mà còn đáp ứng các tiêu chí về chất lượng và tính công bằng.
                                    Với giao diện thân thiện và tính bảo mật cao, hệ thống này không chỉ tối ưu hóa quy trình chọn đề mà còn tăng cường sự minh bạch và tin cậy trong việc xây dựng các bài kiểm tra.
                                </p>
                            </div>
                 </div>
              </div>

        </div>
    </div>
</div>

{% endblock %}